body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.chessboard {
  background-color: aquamarine;
  width: 70vw;
  border: 4px solid #ff9d00;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
 
margin: 0 auto;


}
.white {
  background-color: #fff4f4;

  width: 60px;
  height: 60px;
  font-size: 40px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.brown {
  background-color: brown;

  width: 60px;

  font-size: 40px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
@media (max-width: 480px){
  .chessboard{
    width: 90vw;
    height: auto;
  }
}
@media (min-width: 480px){
  .chessboard{
    width: 35vw;
    height: auto;
  }
}