body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.chessboard {
  width: 480px;
  height: 480px;
  border: 1px solid #c0c0c0;
  box-shadow: 2px 2px ;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
margin: 0 auto;
margin-top: 150px;
align-items: center;

}
.white {
  background-color: #fff;

  width: 60px;
  height: 60px;
  font-size: 40px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.brown {
  background-color: brown;

  width: 60px;
  height: 60px;
  font-size: 40px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
